#{extends 'main.html' /}
<head>
<meta charset="UTF-8">
<title>Edit Contribution Coding and Annotation</title>

<style>
    h2 {
        text-align: center;
    }
    select {
        vertical-align : top;
    }
    form {
	padding: 10px 10px 10px 10px;
    }
    label {
        font-size: small;
	display: inline-block;
	text-align:left;
	margin: 0 15px 0 0;
	color: black;
    }
    input {
	font-size: 14px;	
    }
    #button {
	margin-left: 115px;	
    }
</style>
  <script src="/public/javascript/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script>

  var cid = opener.contid;
  var fbody = "";
  var codingsShorthand = null;
  var annotationShorthand = null;
  var annotationText = "";
  var codings = [];

  var mydict;
  var actvdict;

  // CONSTRUCTORS
  var ActiveCodeDictionary = function( catList ) {
      this.actvCodeCategories = [];
      for( var i = 0; i < catList.length; i++ ) {
          var aCat = new ActiveCodeCategory( catList[ i ] );
          this.actvCodeCategories[ i ] = aCat;
      }

      this.getActiveCodeCat = function( theName ) {
          for( var i = 0; i < this.actvCodeCategories.length; i++ ) {
              if( this.actvCodeCategories[ i ].name == theName ) {
                  return this.actvCodeCategories[ i ];
              }
          }
      }

      this.tagByCategory = function( ccName, ciNames ) {
          this.getActiveCodeCat( ccName ).actvCodeItems = ciNames;
      }

      this.tagByItem = function( ccName, ciName ) {
          var theCat = this.getActiveCodeCat( ccName );
          theCat.actvCodeItems.push( ciName );
      }

      this.chainCodeItems = function() {
          var ret = "";
          for( var i = 0; i < this.actvCodeCategories.length; i++ ){ 
              var acc = this.actvCodeCategories[ i ];
              if( acc.actvCodeItems.length > 0 ) {
                  for( var j = 0; j < acc.actvCodeItems.length; j++ ) {
                      ret += "|" + acc.name + ":" + acc.actvCodeItems[ j ];
                  }
              }
          }
          return ret.substring( 1, ret.length );
      }
  } // end constructor ActiveCodeDictionary()




  var ActiveCodeCategory = function( name ) {
      this.name = name;
      this.actvCodeItems = [];
  } // end constructor ActiveCodeCategory




  $(document).ready(function() {
    var theAction = #{jsAction @JSONCodeDictionary.getJSONCodeDictionary(':echo') /};
    var loader = theAction( {echo: 'load'} );
    $.get( 
      loader,
      function( data ) {
        mydict = data;
        // unwrap all the function literals defined in JSONCodeDictionary.java 
        eval( "mydict.getCategory = " + mydict.getCategory[0] );
        buildActiveDictionary( mydict.codeCategories );
      } 
    );

    $( '#codeCat' ).change( function() {
      var newCat = $( '#codeCat :selected' ).val();
      populateCodeItemsDropdown( newCat );
      $( '#codeItems' ).focus();
    } );

    $( '#codeItems' ).change( function() {
      var theCat = $( '#codeCat :selected' ).val();
      var theItems = [];
      var selItems = $( '#codeItems :selected' ).each( function( i, selected ) {
        theItems[ i ] = $(selected).text();
      } );
      actvdict.tagByCategory( theCat, theItems );
    } );

    $( '#okB' ).click( function() {
      var newCodingsShorthand = actvdict.chainCodeItems();
      var newAnnotationShorthand = $('#textBox').val();
      opener.updateCodingsAnnotation( newCodingsShorthand, newAnnotationShorthand );
      self.close();
    } );

    $( '#cancelB' ).click( function() {
      self.close();
    } );
 
  }); // end ready




  function buildActiveDictionary( catList ) {      
    actvdict = new ActiveCodeDictionary( catList );
    // get verbose contribution
    var qry = "cid=" + cid;
    $.get( "/getSingleContribution", qry, parseCont, "HTML" );
  }




  function parseCont( data ) {
    var tempRows = data.split( "\t" );
    fbody = tempRows[ 6 ];
    codingsShorthand = tempRows[ 7 ].substring( 1, tempRows[7].length );
    codings = codingsShorthand.split( "|" );
    annotationShorthand = tempRows[ 8 ].substring( 1, tempRows[ 8 ].length );
    annotationText = annotationShorthand;

    $( '#contribString' ).html( "<h2>" + fbody + "</h2>" );
    $( '#textBox' ).val( annotationText );

    // populate actvdict
    if( codings != "" ) {
      for( c in codings ) {
        var elements = codings[c].split( ":" );
        var cc = elements[ 0 ];
        var ci = elements[ 1 ];
        actvdict.tagByItem( cc, ci );
      }
    }

    populateCodeCatDropdown( mydict.codeCategories );
    var fcc = $( '#codeCat :selected' ).val();
    populateCodeItemsDropdown( fcc );
  }




  function populateCodeCatDropdown( catList ) {
    var ccD = $( '#codeCat' );
    for( cc in catList ) {
      ccD.append( "<option value=" + catList[ cc ] + ">" + catList[ cc ] + "</option>" );
    }

  }




  function populateCodeItemsDropdown( theCat ) {
    var ciD = $( '#codeItems' );
    ciD.html( "<select id='codeItems' name='CodeItems' multiple='yes' size='10' style='width: 100px'></select>" );

    var theItems = eval( "mydict." + theCat );
    var actvItems = actvdict.getActiveCodeCat( theCat ).actvCodeItems;
    for( ci in theItems ) {
      if( actvItems.indexOf( theItems[ ci ] ) != -1 ) {
        ciD.append( "<option value=" + theItems[ ci ] + " selected>" + theItems[ ci ] + "</option>" );
      } else {
        ciD.append( "<option value=" + theItems[ ci ] + ">" + theItems[ ci ] + "</option>" );
      }
    }
  }




  function getSelectedCodeItems( selectedCodeCat ) {
    // returns an array where each element is a String descriptor under that category   
    var retArray = [];
    for( c in codings ) {
      var elements = codings[ c ].split( ":" );
      if( elements[ 0 ] == selectedCodeCat ) {
        retArray.push( elements[ 1 ] );    
      }
    }
    return retArray;  
  }



</script>
</head>
<body>
  <form id="annotate" action="">
    <span id="contribString"></span>
    <p>
      <label>
      Type in annotation to this equation in the box below: <br>
      </label>
      <textarea id="textBox" rows="6" cols="60"></textArea>
    </p>

    <hr>
    
    <p>
      <label>
      To tag this equation, first select a Code Category and then select Code Item(s).
      </label>
      <p>
      Code Category: 
        <select id="codeCat" name="codeCategory" style="width: 100px"></select>
      </p>
    </p>

    <hr>
    
    <p>
      <p>
      Code Items:
        <select id="codeItems" name="CodeItems" multiple="yes" size="10" style="width: 100px"></select>
      </p>
      <label>
      Press and hold Ctrl key to select multiple items.
      </label>
    </p>

    <hr>

    <p>
      <button id="cancelB" type="button">Cancel</button>
      &nbsp
      <button id="okB" type="button">OK</button>
    </p>

    
  </form>
</body>
</html>
