#{extends 'main.html' /}
<head>
<meta charset="UTF-8">
<title>Edit Contribution Coding and Annotation</title>

<style>
    select {
        vertical-align : top
}

form {
	padding: 10px 10px 10px 10px;
}
label {
	display: inline-block;
	width: 100px;
	text-align:right;
	margin: 0 15px 0 0;
	color: white;
}
input {
	font-size: 14px;	
}
#button {
	margin-left: 115px;	
}
</style>
  <script src="/public/javascript/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script>

  var cid = opener.contid;
  var fbody = "";
  var codingsShorthand = null;
  var annotationShorthand = null;
  var annotationText = "";
  var codings = [];

  var mydict;
  var actvdict;

  // CONSTRUCTORS
  var ActiveCodeDictionary = function( catList ) {
      this.actvCodeCategories = [];
      for( var i = 0; i < catList.length; i++ ) {
          var aCat = new ActiveCodeCategory( catList[ i ] );
          this.actvCodeCategories[ i ] = aCat;
      }

      this.getActiveCodeCat = function( theName ) {
          for( var i = 0; i < this.actvCodeCategories.length; i++ ) {
              if( this.actvCodeCategories[ i ].name == theName ) {
                  return this.actvCodeCategories[ i ];
              }
          }
      }

      this.tagByCategory = function( ccName, ciNames ) {
          this.getActiveCodeCat( ccName ).actvCodeItems = ciNames;
      }

      this.tagByItem = function( ccName, ciName ) {
          var theCat = this.getActiveCodeCat( ccName );
          theCat.actvCodeItems.push( ciName );
      }

      this.chainCodeItems = function() {
          var ret = "";
          for( var i = 0; i < this.actvCodeCategories.length; i++ ){ 
              var acc = this.actvCodeCategories[ i ];
              if( acc.actvCodeItems.length > 0 ) {
                  for( var j = 0; j < acc.actvCodeItems.length; j++ ) {
                      ret += "|" + acc.name + ":" + acc.actvCodeItems[ j ];
                  }
              }
          }
          if( ret.length > 0 ) {
              return( ret + "|" );
          }
          return ret;
      }
  } // end constructor ActiveCodeDictionary()




  var ActiveCodeCategory = function( name ) {
      this.name = name;
      this.actvCodeItems = [];
  } // end constructor ActiveCodeCategory




  $(document).ready(function() {
    var theAction = #{jsAction @JSONCodeDictionary.getJSONCodeDictionary(':echo') /};
    var loader = theAction( {echo: 'load'} );
    $.get( 
      loader,
      function( data ) {
        mydict = data;
        // unwrap all the function literals defined in JSONCodeDictionary.java 
        eval( "mydict.getCategory = " + mydict.getCategory[0] );
        buildActiveDictionary( mydict.codeCategories );
        populateDropdown();
      } 
    );

  }); // end ready




  function buildActiveDictionary( catList ) {      
    actvdict = new ActiveCodeDictionary( catList );
    // get verbose contribution
    var qry = "cid=" + cid;
    $.get( "/getSingleContribution", qry, parseCont, "HTML" );
  }




  function populateDropdown() {

  }




  function parseCont( data ) {
    var tempRows = data.split( "\t" );
    fbody = tempRows[ 6 ];
    codingsShorthand = tempRows[ 7 ].substring( 1, tempRows[7].length );
    codings = codingsShorthand.split( "|" );
    annotationShorthand = tempRows[ 8 ].substring( 1, tempRows[ 8 ].length );
    annotationText = annotationShorthand;

    $( '#contribString' ).html( "<h2>" + fbody + "</h2>" );
    $( '#textBox' ).val( annotationText );

    // populate actvdict
    if( codings != "" ) {
      for( c in codings ) {
        var elements = codings[c].split( ":" );
        var cc = elements[ 0 ];
        var ci = elements[ 1 ];
        console.log( cc );
        actvdict.tagByItem( cc, ci );
      }
    }
    console.log( actvdict );
    console.log( actvdict.chainCodeItems() );
  }




  function getSelectedCodeItems( selectedCodeCat ) {
    // returns an array where each element is a String descriptor under that category   
    var retArray = [];
    for( c in codings ) {
      var elements = codings[ c ].split( ":" );
      if( elements[ 0 ] == selectedCodeCat ) {
        retArray.push( elements[ 1 ] );    
      }
    }
    return retArray;  
  }



</script>
</head>
<body>
  <form id="annotate" action="">
    <span id="contribString"></span>
    <p>
      Type in annotation to this equation in the box below: <br>
      <textarea id="textBox" rows="10" cols="200"></textArea>
    </p>

    <hr>
    
    <p>
      To tag this equation, first select a Code Category and then select Code Item(s) <br>
      <label>Code Category: 
        <select id="codeCat" name="codeCategory" style="width: 100px"></select>
      </label>
      &nbsp
      <button id="confirmCodeCat" type="button">Next</button>
    </p>

    <hr>
    
    <p>
      <label>Code Items:</label>
      <select id="codeItems" name="CodeItems" multiple="yes" size="10" style="width: 100px"></select>
    </p>

    <hr>

    <p>
      <button id="cancelB" type="button">Cancel</button>
      &nbsp
      <button id="okB" type="button">OK</button>
    </p>

    
  </form>
</body>
</html>
