#{extends 'main.html' /}
#{set title:'setupTest.html' /}

<head>

<script type="text/javascript">
    var mydict;
   	
	function tryit2( anaction ) {
	   $('#result').load(
	       anaction,
	       function(data) {
       	   		mydict = JSON.parse(data);
       	   		eval("docall = "  + mydict.testfn[0]);
       		}
   		)
	}
	
		   
 	$(document).ready(function() {
   		var testAction = #{jsAction @TestJSON.testJSON(':echo') /};
		var blah = testAction({echo: 'corey'});
	  	tryit2( blah );
	  	alert("done loading");
	});
		  
		  
	function recall() {
	   alert("the values for key 'Math' are " + mydict.Math);
	   alert("the values for key 'Social' are " + mydict.Social);
	   
	}
	
	function docall() {
	  alert("default alerting function-- will be changed by ajax call");
	}
	
	
</script>
</head>

<body>



<div id="result" name="result">

 dummy data
</div>

<button value="press" onclick="recall()">Lookup Some Values</button>
<button value="press2" onclick="docall()">try before and after</button>

</body>