i#{extends 'main.html' /}
<head>
<meta charset="UTF-8">
<title>Assess Contributions</title>

<style>
    #assessContributionsContainer {
        width : 450px;
       height : 150px;
    }
    h2 {
        text-align: center;
    }
    .Panel {
        padding: 10px 10px 10px 10px;
    }
    select {
        vertical-align : top;
    }
    form {
	padding: 10px 10px 10px 10px;
    }
    label {
        font-size: small;
	display: inline-block;
	text-align:left;
	margin: 0 15px 0 0;
	color: black;
    }
    input {
	font-size: 14px;	
    }
    #button {
	margin-left: 115px;	
    }
</style>
  <script src="/public/javascript/dynatree/jquery/jquery.js" type="text/javascript"></script>
<script>

  var selfJQPointer = $( '#assessContributionsFD' );




  var AContribution = function AContribution( fullid, cType, isvalidtext ) {

      // complex id
      this.id = fullid;

      this.getFdef = function( anId ) {
                         // remove sid_ and replace double uncerscore in cid with single underscore
                         var aRow = anId.substring( anId.indexOf( "_" ) + 1, anId.length );
                         aRow = aRow.replace( "__", "_");
                         return aRow;
                     }

      // contribution type
      // "POINT" or "EQUATION" - see /app/models/ContributionType.java
      this.contType = cType;

      // fix equation by inserting "*" in "xx", "x\d" and "x\("
      this.fixEq = function ( theEq ) {
          var thePos = theEq.search( /(x\d)|(xx)|(x\()/gi );
          if( thePos > -1 ) {
              var head = theEq.substring( 0, thePos + 1 );
              var tail = theEq.substring( thePos + 1, theEq.length );
              theEq = head + "*" + tail;
              theEq = this.fixEq( theEq );
          }
          return theEq;
      }

      // simple function definition
      this.fdef = this.getFdef( fullid ); 

     // contribution id, used when updating database
      this.cid  = this.fdef.substring( 3, this.fdef.indexOf( "_" ) );

      // function body, right hand side of the equation
      this.fbody = fullid.substring( fullid.indexOf( "(x)=" ) + 4, fullid.length ); 

      // simple function name, used in googleTable.html, to toggle drawing of graph in ggbApplet
      this.fname = this.fdef.substring(0, this.fdef.indexOf("(x)="));;

      // function name for Assessment purposes only
      this.fnameA = this.fname + "A";

      // function definition for assessment purposes only
      this.fdefA = this.fnameA + "(x)=" + this.fixEq( this.fbody );

      // function name Simplified by ggbApplet, for assessment purposes only
      this.fnameS = this.fname + "S";

      // function definition Simplified, for Assessment purposes only
      this.fdefS = this.fnameS + "(x)=" + "Simplify[" + this.fnameA + "]";

      this.fbodyS = "";

      // Is it a valid equation
      this.isValid = isvalidtext;

      // HIT/NO-HIT
      this.Aresult= "N/A";

      this.toLog = function() {
                                      console.log( this.id + " " + this.cid + "\n" + 
                                      this.fbody + "\n"+ 
                                      this.fdef + "      "+ this.fname + "\n" + 
                                      this.fdefA + "      " + this.fnameA + "\n" +      
                                      this.fdefS + "      " + this.fnameS + "\n" +   
                                      this.fbodyS + "\n" +   
                                      this.contType + "\n" +
                                      this.isValid + " " + this.Aresult );	
                              }

      this.assess = function( simpTargetEq ) {
   
          if( this.contType == "POINT" ) {
              this.Aresult = "N/A";

          } else {
              if( this.contType == "EQUATION" && this.isValid == "false" ) {
                  this.Aresult = "NO-HIT";

              } else {
                  document.ggbApplet.evalCommand( this.fdefA ); // create ASSESSMENT object in GGB
                  document.ggbApplet.evalCommand( this.fdefS ); // create SIMPLIFIED object in GGB
                  this.fbodyS = document.ggbApplet.getValueString( this.fnameS ); // read simplified object in GGB
                  this.fbodyS = this.fbodyS.substring( this.fbodyS.indexOf( "=" ) + 1, this.fbodyS.length );

                  document.ggbApplet.evalCommand( "Delete[" + this.fnameA + "]" ); // delete ASSESSMENT and SIMPLIFIED objects
                  //document.ggbApplet.evalCommand( "Delete[" + this.fnameS + "]" ); 
                  // string comparison with simplified target eq
                  if( this.fbodyS == simpTargetEq ) {
                      this.Aresult = "HIT";
                  } else {
                      this.Aresult = "NO-HIT";
                  }
              }
          }
      }
  }  // end constructor AContribution()
    



  function validateEq( theEq ) {
    var cmdCreateTargetEq = "targetEq(x)=Simplify[" + theEq + "]";
    var cmdValidateTargetEq = "IsDefined[targetEq]";
    document.ggbApplet.evalCommand( cmdCreateTargetEq );
    var valResult = document.ggbApplet.evalCommand( cmdValidateTargetEq );
    return valResult;
  }




  function getSimplifiedTargetEq() {
    var simplifiedTargetEq = document.ggbApplet.getValueString( "targetEq" );
    if( document.ggbApplet.evalCommand( "IsDefined[targetEq]" ) ) {
      document.ggbApplet.evalCommand( "Delete[targetEq]" );
    }
    // only keep the right hand side of the equation
    simplifiedTargetEq = simplifiedTargetEq.substring( (simplifiedTargetEq.indexOf("=")+1), simplifiedTargetEq.length );
    return( simplifiedTargetEq );
  }




  function postAssessedContributions( theConts, theEq ) {
    var theCIDs = [];
    var theHits = [];
    for( var i =0; i < theConts.length; i++ ) {
      theCIDs[ i ] = theConts[ i ].cid;
      theHits[ i ] = theConts[ i ].Aresult;
      //console.log( theCIDs[ i ] + " " + theHits[ i ] );
    }
    if( theCIDs.length == theHits.length && theCIDs.length > 0 ) {
      var postData = { 'cids' : theCIDs.join(),
                       'eq' : theEq,
                       'hits' : theHits.join() };
      $.post( "/assessContributions", postData, function( data ) {
        alert( data );
      }, "HTML" );
    }
  }




  function closeSelf() {
      refreshGraphVizTable(); // refreshGraphVizTable() is defined in graphicVisualizer.html
      closeADiv( selfJQPointer ); // closeADiv() is defined in graphicVisualizer.html
  }




  $(document).ready( function() { 

    $( '#okBtn' ).click( function() {
      var simplifiedTargetEq = "";
      var aContributions = [];

      // construct AContribution objects
      $( '.gradeA' ).each( function() {
          var tempCont = new AContribution( this.id.toLowerCase(), 
                                            $(this).children( '.contType' ).text(), 
                                            $(this).children( '.contValidity' ).text() );
          aContributions.push( tempCont );
      } );
      
      if( validateEq( $( '#targetEq' ).val() ) ) {
        simplifiedTargetEq = getSimplifiedTargetEq();

        // assess each contribution
        for( var i = 0; i < aContributions.length; i++ ) {

          aContributions[ i ].assess( simplifiedTargetEq );
          //aContributions[ i ].toLog();
        }

        // update database
        postAssessedContributions( aContributions, $( '#targetEq' ).val());
        closeSelf();
        
      } else {
        closeADiv( selfJQPointer );
        alert( "You have entered an invalid target equation:\n" + 
               "f(x)=" + $( '#targetEq' ).val() + "\n" +
               "Please try again." );
        
      }
    } );

    $( '#cancelBtn' ).click( function() { closeSelf(); } );

    $(document).keyup( function(e) { 
      if( e.keyCode == 27 ) {
        closeSelf(); 
      }
    } ); 

  } ); // end ready()


 



</script>
</head>
<body>
  <div id="assessContributionsContainer">
  <form id="assess" action="">
      <label>Type in the target equation:</label>
      <br>
          f(x)=<input type="text" id="targetEq"  style="width:250px">
      <br> <br>
           <input type="button" id="cancelBtn" value="Cancel">
           &nbsp &nbsp &nbsp 
           <input type="button" id="okBtn" value="OK"> 
           <label>Note: This could take a while, please be patient.</label>   
  </form>
  </div>

</body>
</html>
