<html>
  <head>
  
  	<style type="text/css" title="currentStyle">
			@import "/public/css/demo_page.css"; 
			@import "/public/css/demo_table.css";
		</style>
  
    <script type='text/javascript' src='/public/javascript/datatables/jquery.js'></script>
    <script type='text/javascript' src='/public/javascript/datatables/jquery.dataTables.js'></script>
    
    <script type='text/javascript'>
     var cid = 0;
     var cbody = " ** ";
     var str = " ";
     
     $(document).ready(function() {
    /* Add/remove class to a row when clicked on */
    $('#example tr').click( function() {
    	if (this.id == "") 
    	{
    	 console.log('changed sort order');
    	}
		else
		{
	    	var functiondef = this.id.toLowerCase();
	    	//console.log(functiondef);
	    	
	    	var fname = functiondef.substring(0, functiondef.indexOf("(x)="));
	    	//update ggb
	    	document.ggbApplet.evalCommand(functiondef);
	    	
	    	var cl = $(this).attr("class");
	    	if ( cl.indexOf("row_selected") > 0 )
	    	{
	    	 //was visible, going to be made invisible
	    	  document.ggbApplet.setVisible(fname, false);
	    	}
	    	else
	    	{
	    	//was invisible, going to be made visible
	    	  document.ggbApplet.setVisible(fname, true)
	    	}
	    	
	        $(this).toggleClass('row_selected');
	     }
	    } );
	     
	    /* Init the table */
	    var oTable = $('#example').dataTable( {'sScrollY': '300px',
		'bPaginate': false} );
} );

function fnGetSelected( oTableLocal )
{
    return oTableLocal.$('tr.row_selected');
}

     var countstudents;
     var countcontribs;
     var countvalids;
    </script>
  </head>

  <body>
  <div id="container" style="position:absolute; width:800px; left:10px">
    <div id="demo">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
	<thead>
		<tr>
			<th>Student</th>
			<th>SecsIn</th>
			<th>Label</th>
			<th>Contribution</th>
			<th>Codings</th>
			<th>Annotations</th>
			<th>Valid</th>
		</tr>
	</thead>
	<tbody>
	
	#{list items:contribs, as:'cont'}
	
    <tr class="gradeA" id="${cont.student.username}_{${cont.secondsIn}${cont.objectID}}(x)=${cont.body}">
    <td>${cont.student.username}</td>
    <td>${cont.secondsIn}</td>
    <td>${cont.objectID}</td> 
    <td>${cont.body}</td>
    <td>${cont.codingsShorthand()}</td>
    <td>${cont.annotationsShorthand()}</td>
    <td>${cont.isValid}</td>
  
    </tr>
    #{/list}
	
	
	</tbody>
	 <tfoot>
		<tr>
			<th>Student</th>
			<th>SecsIn</th>
			<th>Label</th>
			<th>Contribution</th>
			<th>Codings</th>
			<th>Annotations</th>
			<th>Valid</th>
		</tr>
	</tfoot>
</table>
</div>
<div id="stattable">
<br>
<br>
<table cellpadding="0" cellspacing="0" border="0" class="stats" id="stats">
	<thead>
		<tr>
			<th>Contributions</th>
			<th>Students</th>
			<th>Valid Contributions</th>
			<th>Invalid Contributions</th>
			
			#{list items:categories, as:'cat'}
			<th>${cat}</th>
			#{/list}
		</tr> 
	</thead>
	<tbody>

    <tr >
    <td>${numcontributions}</td>
    <td>${numstudents}</td>
    <td>${numvalids}</td> 
    <td>${numinvalids}</td> 
    
    #{list items:counts, as:'count'}
	<td>${count}</td>
	#{/list}
    </tr>
	</tbody>
</table>
<br>
<br>
FOR TESTING ONLY -- USE THE FORM BELOW TO SET THE CODINGS FOR A CONTRIBUTION
<form action="@{QueryBuilder.addCodes()}" method="POST">
    Session ID:<input type="text" name="sessionId" id="sessionId" value="1"><br>
    Sequence #:<input type="text" name="sequence" id="sequence" value="1"><br>
    Codings...:<input type="text" name="codings" id="codings" value="Math:R1"><br>
    <input type="submit" value="SET CODINGS" />   
		</div>	
			</div>
			
			    
</form>
			
			
  </body>
  
</html>