<html>
  <head>
    <style type="text/css" title="currentStyle">
      @import "/public/css/demo_page.css"; 
      @import "/public/css/demo_table.css";
    </style>
  
    <script type='text/javascript'> 
       var theRow = "";
      var theStuff = [];
      var contid;
      var sessid;
      var anchoredCodings;
      var anchoredAnnotation;
      var hoverlocked;
    </script>

    <script type='text/javascript' src='/public/javascript/datatables/jquery.js'></script>
    <script type='text/javascript' src='/public/javascript/datatables/jquery.dataTables.js'> </script>
    
    <script type='text/javascript'>
      $(document).ready(function() {
        
        // variables for tracking position of the mouse pointer
        var curRow = "";
        var curCol = "";
        var curCodings = "";
        var curAnnots = "";

        // for preventing anchored codings and annotation items to change when opening popup
        hoverlocked = false; 




        // update trackers on row hover
        $( '#example tr' ).hover( 
          function() { curRow = this.id.toLowerCase(); },   
          function() { curRow = ""; } 
        );

        // update trackers on column hower
        $( '#example tr .codings' ).hover(
          function() { 
            if( !hoverlocked ) {
              anchoredCodings = $(this);
              anchoredAnnotation = $(this).next( '.annots' );
              curCol = "codings"; 
              curCodings = $(this).text(); 
              curAnnots = $(this).next( '.annots' ).text(); 
          
            }
          },
          function() { 
            curCol = ""; 
            curCodings = "";
            curAnnots = "";
          }
        );

        $( '#example tr .annots' ).hover(
          function() { 
            if( !hoverlocked ) {
              anchoredCodings = $(this).prev( '.codings' );
              anchoredAnnotation = $(this);
              curCol = "annots";
              curCodings = $(this).prev( '.codings' ).text();
              curAnnots = $(this).text(); 
            }
          },
          function() { 
            curCol = "";
            curCodings = "";
            curAnnots = ""; 
          }
        );

        $( '#example tr .drawGGB' ).hover(
          function() { 
            curCol = "drawGGB";
            curCodings = "";
            curAnnots = ""; 
          },
          function() { 
            curCol = ""; 
            curCodings = "";
            curAnnots = "";
          }
        );



        
        /* Add/remove class to a row when clicked on */
        $('#example tr').click( function() {
    	  if (this.id == "") {
    	    console.log('changed sort order');
    	  } else {

            if( curCol == 'drawGGB' ) {
              toggleGraph( $(this), curRow );
	    }  else {
              // open popup for editing codings or annots
              hoverlocked = true;
              sessid = trimForSID( curRow );
              contid = trimForCID( curRow );        
              var fbody = getFBody( curRow );       

              floatADiv( $( '#annotateFD' ), "/annotate" );
            }
          }
	} );

        // draw all VALID contributions in the GGB panel
        $("#selectall").click(function () {
            $( '.gradeA' ).each( function() {
                if( $(this).children( '.contValidity').text().toLowerCase() == "true" ) {
                    var curRow = this.id.toLowerCase();
                    drawGraph( $(this), curRow );
	        }

            } );
        });

        // hide all VALID contributions in the GGB panel
        $( '#clearall' ).click( function() {
            $( '.gradeA' ).each( function() {
                if( $(this).children( '.contValidity' ).text().toLowerCase() == "true" ) {
                    var curRow = this.id.toLowerCase();
                    clearGraph( $(this), curRow );
                }
            } );
        } );




        representAllAnnots();
        representAllCodings();








        function getFDef( aRow ) {
        // remove sid_ and replace double uncerscore in cid with single underscore
           aRow = aRow.substring( aRow.indexOf( "_" ) + 1, aRow.length );
           aRow = aRow.replace( "__", "_");
           return aRow;
        }




        function getFName( str ) {
          // returns only the GGB identifiable name
          str = str.substring(0, str.indexOf("(x)="));
          return str;
        }




        function getFBody( str ) {
          // returns only the right hand side of the math equation
          str = str.substring( str.indexOf( "(x)=" ) + 4, str.length ); 
          return str;
        }




        function toggleGraph( target, trIdLowercased ) { 
        // sends contribution to GGB to be graphed
        // if contribution is already graphed, hide it
            var functiondef = getFDef( trIdLowercased );
            var fname = getFName( functiondef ); 
            //send to ggb
	    document.ggbApplet.evalCommand(functiondef);

	    var cl = target.attr("class");
	    if ( cl.indexOf("row_selected") > 0 ) {
	        //was visible, going to be made invisible
	        document.ggbApplet.setVisible(fname, false);
	    } else {
	        //was invisible, going to be made visible
	        document.ggbApplet.setVisible(fname, true)
	    }
            target.toggleClass('row_selected');
        }




        function drawGraph( target, trIdLowercased ) { 
            var functiondef = getFDef( trIdLowercased );
            var fname = getFName( functiondef ); 
	    document.ggbApplet.evalCommand(functiondef);
            // show the graph in GGBPanel
            document.ggbApplet.setVisible(fname, true);
            // update table
            target.addClass('row_selected');
        }




        function clearGraph( target, trIdLowercased ) {
            var functiondef = getFDef( trIdLowercased );
            var fname = getFName( functiondef );
            document.ggbApplet.evalCommand( functiondef );
            // hide the graph in GGBPanel
            document.ggbApplet.setVisible( fname, false );
            // update table
            target.removeClass( 'row_selected' );
        }





        function trimForSID( str ) {
          // separate the session id info and remove preceding chars "sid"
          str = str.substring( 0, str.indexOf( "_" ) );
          str = str.substring( 3, str.length );
          return str;
        }




        function trimForCID( str ) {
        // separate the contribution id info and remove preceding chars "cid"
          str = str.substring( 0, str.indexOf( "__" ) ); // NOTE: its a double underscore
          var pos = str.indexOf( "_" ) + 1;
          str = str.substring( pos + 3, str.length );
          return str;
        }




        function sanitize( str ) {
          // replaces "--" for no codings and no annotation
          if( str == "--" )
            str = "";
          // removes the preceding delimiter
          if( str[0] == "|" )
            str = str.substring( 1, str.length );
          return str;
        }

        


        function sanitizeForCodings( str ){
          // replace vertical bars with commas
          if( str.length > 0 ) {
            str = str.replace( "|", "," );
          }
          return str;
        }



	     
	/* Init the table */
	var oTable = $('#example').dataTable( {
                'sScrollX': '800px',
                'sScrollY': '600px',
		'bPaginate': false,
                'aoColumns': [
                               /*Student*/              null,
                               /*SecsIn*/               null,
                               /*Label*/                null,
                               /*Contribution*/         null,
                               /*CodingsShorthand*/     { 'bSearchable' : false,
                                                          'bVisible'    : false },
                               /*Codings*/              null,
                               /*AnnotationsShorthand*/ { 'bSearchable' : false,
                                                          'bVisible'    : false },
                               /*Annotations*/          null,
			       /*Target*/		null,
			       /*isHit*/		null,
                               /*Valid*/                null
                ] 
        } );




        //var allRawRows = oTable._( '#example tr' );
        //buildUniqueStudents( allRawRows );


      } );




      function representAllAnnots() {
        $( '.annots' ).each( function( index ) { 
          representAnnots( $(this) );
        } );
      }




      function representAnnots( target ) {
        var t = target.text();
        if( t == "" ) {
          target.text( "--" );
        } else {
          if( t.indexOf( "|" ) == 0 ) {
            target.text( t.substring( 1, t.length ) );
          }
        }
      }




      function representAllCodings() {
        $( '.codings' ).each( function( index ) {
          representCodings( $(this) );
        } );
      }




      function representCodings( target ) {
          var ret = "";
          var prevcat = "";
          var currcat = "";
          var c = target.text();
          if( c == "" ) {
            target.text( "--" );
          } else {
            if( c != "--" ) { // only if have codings
              //trim head and tail off "|"
              if( c.indexOf( "|" ) == 0 ) {
                c = c.substring( 1, c.length );
              }
              if( c.indexOf( "|" ) == c.length - 1 ) {
                c = c.substring( 0, c.length - 1 );
              }
              // split
              var cdgs = c.split( "|" );
              // loop through
              for( i in cdgs ) {
                var pieces = cdgs[ i ].split( ":" );
                currcat = pieces[ 0 ];
                if( currcat != prevcat ) {
                  ret += "   " + currcat + ":"
                }
                ret += pieces[ 1 ] + ",";
                prevcat = currcat;
              }
              // trim ending ","
              if( ret.length > 0 ) {
                ret = ret.substring( 0, ret.length - 1 );
              }
              target.text( ret );
            }
          }
      }





      function fnGetSelected( oTableLocal ) {
        return oTableLocal.$('tr.row_selected');
      }



      
      var StudentStats = function() {
      // constructor for StudentStats object

        this.studID = "";
        this.contribs = [];
        this.validContribs = -1;
        this.invalidContribs = -1;

        this.addContrib = function( aRow ) {
          // aRow is one row of contribution in its raw data
          
          if( this.studID == "" ) { this.studID = aRow[ 0 ] };   
          this.contribs.push( aRow );     
        };

        this.updateCountValids = function() {
          // update count of validContribs and invalidContribs
          
          var v = 0;
          for( var i=0; i<this.contribs.length; i++ ) {
            if( this.contribs[i].indexOf( "true" ) > 0 ) { v++; }
          }
          this.validContribs = v;

          var iv = 0;
          for( var i=0; i<this.contribs.length; i++ ) {
            if( this.contribs[i].indexOf( "false" ) > 0 ) { iv++; }
          }
          this.invalidContribs = iv;
        };

      } // end constructor StudentStats




      function buildUniqueStudents( rawRows ) {
      // returns an array of objects of class StudentStats  
   
        // create empty array, to be populated later
        var studentStats = [];

        // go through the loop, creating students and filling up contribs
        for( var i=0; i < rawRows.length; i++ ) {
          var theID = rawRows[ i ] [ 0 ];
          var thePosition = positionOfStudID( theID, studentStats );
          if( thePosition < 0 ) {
            // is not in the array, create a new StudentStats object and add it in
            var aStudent = new StudentStats();
            aStudent.addContrib( rawRows[ i ] );
            studentStats.push( aStudent );
          } else {
            // is in the array, work with the returned index number
            studentStats[ thePosition ].addContrib( rawRows[ i ] );
          }

        }

        // update counts for each StudentStats


        for( var i=0; i<studentStats.length; i++ ) {
          studentStats[ i ].updateCountValids();

        }

      }




      function positionOfStudID( anID, anArrayOfStudentStats ) {
      // returns the index of the StudentStat object with studID equals to anID
      // returns -1 if no elements has that studID
        
        var ret = -1;
        for( var i=0; i<anArrayOfStudentStats.length; i++ ) {
          if( anArrayOfStudentStats[ i ].studID == anID ) {
            ret = i;
          }
        }
        return ret;
      }




      function updateCodingsAnnotation( seqNum, newCS, newAS ) {
      // called by child window upon OK-ing codings and annotation
        // update client display
        anchoredCodings.text( newCS );
        anchoredAnnotation.text( newAS );
        
        var postCodingsData = "";
        var postAnnotationData = "";
        var postBase = "";
        postBase += "sessionId=" + sessid + "&";
        postBase += "sequence=" + seqNum + "&";

        // post codings update to database        
        postCodingsData = postBase + "codings=" + newCS;
        console.log( postCodingsData );
        $.post( '/setCodingsForContribution', postCodingsData, function( data ) { console.log( data ); } );

        // post annotation update to database
        postAnnotationData = postBase + "annotations=" + newAS;
        console.log( postAnnotationData );
        $.post( '/setAnnotationsForContribution', postAnnotationData, function( data ) { console.log( data ); } );

        // represent Annotation and Codings for tidier display
        representCodings( anchoredCodings );
        representAnnots( anchoredAnnotation );
        
        // unlock hoverlocked
        hoverlocked = false;
      }
          



    </script>
  </head>

  <body>
    <div id="container" style="position:absolute; width:800px; height: 600px,left:10px">
      <div id="demo">
      <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
        <thead>
		<tr>
			<th>Student</th>
			<th>SecsIn</th>
			<th>Label</th>
			<th>Contribution</th>
                        <th>CodingsShorthand</th>
			<th>Codings</th>
                        <th>AnnotationsShorthand</th>
			<th>Annotations</th>
                        <th>TargetEquation</th>
                        <th>Hit</th>
			<th>Valid</th>
		</tr>
	</thead>
	<tbody>
	  #{list items:contribs, as:'cont'}
          <!-- NOTE: double underscore on separator for cid below -->
	  <tr class="gradeA" id="sid${cont.session.id}_cid${cont.getId()}__{${cont.student.username}_${cont.secondsIn}${cont.objectID}}(x)=${cont.body}">

            <td class = "drawGGB">${cont.student.username}</td>
            <td class = "drawGGB">${cont.secondsIn}</td>
            <td class = "drawGGB">${cont.objectID}</td> 
            <td class = "drawGGB">${cont.body}</td>
            <td class = "codingsSH">${cont.codingsShorthand()}</td>
            <td class = "codings">${cont.codingsShorthand()}</td>
            <td class = "annotsSH">${cont.annotationsShorthand()}</td>
            <td class = "annots">${cont.annotationsShorthand()}</td>
            <td class = "drawGGB">${cont.target}</td>
            <td class = "drawGGB">${cont.isHit}</td>
            <td class = "drawGGB contValidity">${cont.isValid}</td>
          </tr>
          #{/list}
	</tbody>
  </table>
</div>
  <br>
  <br>
  <input type="button" id="selectall" value="Graph All Valid Contributions">
  &nbsp &nbsp
  <input type="button", id="clearall" value="Clear All">


<div id="stattable">
<br>
<br>
<br>
<table cellpadding="0" cellspacing="0" border="0" class="stats" id="stats">
	<thead>
		<tr>
			<th>Contributions</th>
			<th>Students</th>
			<th>Valid Contributions</th>
			<th>Invalid Contributions</th>
			
	 	<!--	#{list items:categories, as:'cat'}
			<th>${cat}</th>
			#{/list} -->
		</tr> 
	</thead>
	<tbody>

            	<tr>
                	<td>${numcontributions}</td>
                	<td>${numstudents}</td>
                	<td>${numvalids}</td> 
                	<td>${numinvalids}</td> 
    
            	<!--	#{list items:counts, as:'count'}
    	        	<td>${count}</td>
            		#{/list} -->
		</tr>
        </tbody>
</table>

<!--
<br>
<br>
FOR TESTING ONLY -- USE THE FORM BELOW TO SET THE CODINGS FOR A CONTRIBUTION
<form action="@{QueryBuilder.addCodes()}" method="POST">
    Session ID:<input type="text" name="sessionId" id="sessionId" value="1"><br>
    Sequence #:<input type="text" name="sequence" id="sequence" value="1"><br>
    Codings...:<input type="text" name="codings" id="codings" value="Math:R1"><br>
    <input type="submit" value="SET CODINGS" />   
		</div>	
			</div>
			
			    
</form>
-->

<div id="annotateFD" style="width:460px; height:700px;">
</div>			
			
  </body>
  
</html>
