#{extends 'main.html' /}
#{set title:'SPIRAL visualizer' /}

Spiral Visualizer:<br>


<div>
<applet id="spiral" name="spiralvisualizer" 
	code="Tester.class"
	codebase="@{'/public/applet'}"	
    archive="@{'/public/applet/Tester.jar'},@{'/public/applet/pdf.jar'},@{'/public/applet/itext.jar'},@{'/public/applet/RXTXcomm.jar'},@{'/public/applet/simpleML.jar'},@{'/public/applet/core.jar'}"
    width="1200" height="700">
        <param name="hostip" value="${hostip}">
         <param name="actid" value="${aid}">
         <param name="school" value="${schoolname}">
        <param name="teacher" value="${tuname}">
        <param name="cnameandcyear" value="${cnameandcyear}">
         <param name="starttime" value="${starttime}">
         <param name="functioncall" value"${functioncall}">
</applet>
</div>
